
body
{
    padding:0!important;
    margin: 0!important;
    direction: ltr!important;
}


.fa-bars
{
    font-size: 20px;
    margin-top: 13px;
    color: #e0e0e0;
    transition: 300ms;
}

.fa-bars:hover
{
    cursor: pointer;
    color: #bcc0be;

}

.form-control
{
    color: #c1c2be!important;
    background-color: #f1f1f1;
    outline: none;
    border-style: none;
    margin-left: 35px!important;
    width: 92%;
}
.form-control:focus{
    background-color: #f1f1f1;
    outline: none;
    border-style: none;

}
.p_v
{
    border-left:#c6c8c6  solid 1.3px;
    height:100vh;
    background: url("../img/telegram-background.jpg");
    padding:0px!important;
}

.PV
{
    transition: 300ms;
    position: relative;
}





.PV:hover
{
    background-color: #ecf0ed;
    cursor: pointer;
}


.top_menu span
{
    font-size: 17px;
    display: none;
}

.top_menu p
{
    display: none;
    position:absolute;
    top: 20px;
    left: 17px;
    color:#c5c7c4 ;
}

.times p
{
    margin-top: 3px;
}

.online-time
{
    position: absolute;
    top: 13px;
    right: 10px;
    color: #bbbbbb;
}

.nameOfUser
{
    position: absolute;
    top: 15px;
    left: 80px;
    color: #24221e;
}

.content
{
    position: absolute;
    top: 40px;
    color: #bbbbbb;
}

.number-of-message
{
    position: absolute;
    top: 42px;
    right: 7px;
    background-color: #b7bcb5;
    color: white;
    padding:0px 6px 0px 6px;
    border-radius: 35px;
}

.users
{
    display: none;
}

.top_menu
{
    position: relative;
    height: 50px;
    margin: 0!important;
    padding: 0!important;
}

.icons i
{
    padding-right: 20px;
    margin-top: 15px;
    font-size: 22px!important;
    color: #a7a7a7;
    transition: 300ms;
}
.icons i:hover
{
    cursor: pointer;
    color: #8e918f;
}

.bottom-menu
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: red;
    color: white;
    text-align: center;
}

.messageBox
{
    border-left:#c6c8c6  solid 1.5px;
    padding: 0px;
    border-right: none;
    border-bottom: none;
    border-top:none;
    outline: none;

}


.icon
{
    font-size:30px;
    color: #b7bcb5;
    margin-top: 10px;

}

.input-container
{
    height:50px;

}

.input-field
{
    width:40%;
    outline: none;
    border: none;
}

.even
{


    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0px!important;
    display: inline-block;
    padding:2px 20px 7px 20px;
}

.odd
{

    background-color:#effcde;
    border-radius: 10px;
    border-bottom-right-radius: 0px!important;
    display: inline-block;
    padding:2px 20px 7px 20px;
}

#Users
{
    margin-top: 50px;
}

.date
{
    border-radius:50px;
    padding: 4px 20px 7px 20px;
    background-color: rgba(158,152,158,0.64);
    color: white;
}

.PM_AM , .sendTime1
{
    font-size: 13px;
    color: #bec2c3;
}

.PM_AM2 , .sendTime2
{
    font-size: 13px;
    color: #b2e3be;
}